RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !metadata\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/\$metadata  [NC] 
RewriteRule  .* web/phpnuget/nuget/metadata.php   [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !count\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/Search\(\)/\$count  [NC] 
RewriteRule  .* web/phpnuget/nuget/count.php   [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !list\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/Search\(\)  [NC] 
RewriteRule  .* web/phpnuget/nuget/list.php   [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !count\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/Packages\(\)/\$count  [NC] 
RewriteRule  .* web/phpnuget/nuget/count.php   [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !count\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/Packages/\$count  [NC] 
RewriteRule  .* web/phpnuget/nuget/count.php   [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !list\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/Packages  [NC] 
RewriteRule  .* web/phpnuget/nuget/list.php   [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !count\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/GetUpdates\(\)/\$count  [NC] 
RewriteRule  .* web/phpnuget/nuget/count.php   [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !list\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/GetUpdates\(\)  [NC] 
RewriteRule  .* web/phpnuget/nuget/list.php   [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !count\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/FindPackagesById\(\)/\$count  [NC] 
RewriteRule  .* web/phpnuget/nuget/count.php   [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !list\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/FindPackagesById\(\)  [NC] 
RewriteRule  .* web/phpnuget/nuget/list.php   [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !list\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/FindPackagesById  [NC] 
RewriteRule  .* web/phpnuget/nuget/list.php   [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI}  !list\.php          [NC]
RewriteCond %{REQUEST_URI}  ^/web/phpnuget/nuget/FindPackageById  [NC] 
RewriteRule  .* web/phpnuget/nuget/list.php   [L]