<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="urlrewritingnet"
            requirePermission ="false"
        type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
    </configSections>
    <urlrewritingnet
        rewriteOnlyVirtualUrls="true"
        contextItemsPrefix="QueryString"
        defaultProvider="RegEx" >
        <rewrites>
		<!--API V1-->
			<add name="V1RewriteMetadata1"  
                virtualUrl="^http\://(.*)/api/v1/\$metadata"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=metadata"
                rewrite="Domain"
                ignoreCase="true" />
            
            <add name="V1SearchCount2"  
                virtualUrl="^http\://(.*)/api/v1/Search(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=search&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1Search3"  
                virtualUrl="^http\://(.*)/api/v1/Search(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=search"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1PackagesCount4"  
                virtualUrl="^http\://(.*)/api/v1/Packages(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=packages&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1PackagesCount5"  
                virtualUrl="^http\://(.*)/api/v1/Packages/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=packages&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1Packages6"  
                virtualUrl="^http\://(.*)/api/v1/Packages(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=packages"
                rewrite="Domain"
                ignoreCase="true" />
            <add name="V1Packages7"  
                virtualUrl="^http\://(.*)/api/v1/Packages"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=packages"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1GetUpdatesCount8"  
                virtualUrl="^http\://(.*)/api/v1/GetUpdates(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/count.php"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1GetUpdates9"  
                virtualUrl="^http\://(.*)/api/v1/GetUpdates(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/list.php"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1FindPackagesByIdCount10"  
                virtualUrl="^http\://(.*)/api/v1/FindPackagesById(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=findpackagesbyd&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1FindPackagesById11"  
                virtualUrl="^http\://(.*)/api/v1/FindPackagesById(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=findpackagesbyd"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V1FindPackagesByIdCount12"  
                virtualUrl="^http\://(.*)/api/v1/FindPackagesById/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v1/index.php?action=findpackagesbyd&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
              
            <add name="V1FindPackagesById14"  
                virtualUrl="^http\://(.*)/api/v1/package/(.*)/(.*)"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/?id=$2&amp;version=$3"
                rewrite="Domain"
                ignoreCase="true" />
		<!--API V2-->
			<add name="V2RewriteMetadata1"  
                virtualUrl="^http\://(.*)/api/v2/\$metadata"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=metadata"
                rewrite="Domain"
                ignoreCase="true" />
            
            <add name="V2SearchCount2"  
                virtualUrl="^http\://(.*)/api/v2/Search(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=search&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2Search3"  
                virtualUrl="^http\://(.*)/api/v2/Search(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=search"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2PackagesCount4"  
                virtualUrl="^http\://(.*)/api/v2/Packages(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=packages&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2PackagesCount5"  
                virtualUrl="^http\://(.*)/api/v2/Packages/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=packages&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2Packages6"  
                virtualUrl="^http\://(.*)/api/v2/Packages(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=packages"
                rewrite="Domain"
                ignoreCase="true" />
				
            <add name="V2Packages7"  
                virtualUrl="^http\://(.*)/api/v2/Packages"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=packages"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2GetUpdatesCount8"  
                virtualUrl="^http\://(.*)/api/v2/GetUpdates(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/count.php"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2GetUpdates9"  
                virtualUrl="^http\://(.*)/api/v2/GetUpdates(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/list.php"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesByIdCount10"  
                virtualUrl="^http\://(.*)/api/v2/FindPackagesById(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=findpackagesbyd&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesById11"  
                virtualUrl="^http\://(.*)/api/v2/FindPackagesById(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=findpackagesbyd"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesByIdCount12"  
                virtualUrl="^http\://(.*)/api/v2/FindPackagesById/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=findpackagesbyd&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesByIdCount14"  
                virtualUrl="^http\://(.*)/api/v2/GetUpdates(\(\))?/\$count"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=getupdates&amp;count=true"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesById15"  
                virtualUrl="^http\://(.*)/api/v2/GetUpdates(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=getupdates"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesById16"  
                virtualUrl="^http\://(.*)/api/v2/FindPackageById(\(\))?"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=findpackagesbyd"
                rewrite="Domain"
                ignoreCase="true" />
                
            <add name="V2FindPackagesById18"  
                virtualUrl="^http\://(.*)/api/v2/FindPackageById"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/v2/index.php?action=findpackagesbyd"
                rewrite="Domain"
                ignoreCase="true" />
				
				
            <add name="V2FindPackagesById19"  
                virtualUrl="^http\://(.*)/api/v2/package/(.*)/(.*)"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/api/?id=$2&amp;version=$3"
                rewrite="Domain"
                ignoreCase="true" />
				
			
            <add name="V2PackagesUpload20"  
                virtualUrl="^http\://(.*)/api/v2/package"
                rewriteUrlParameter="ExcludeFromClientQueryString"
                destinationUrl="~/upload"
                rewrite="Domain"
                ignoreCase="true" />  
		<!--Commons-->
        </rewrites>
    </urlrewritingnet>

    <appSettings/>
    <system.web>
        <customErrors mode="Off">
        </customErrors>
    </system.web>
    <system.webServer>
        <modules>
            <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
            <remove name="Session"/>
            <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
        </modules>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".txt" allowed="false" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
